.map-location {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: white;
	justify-content: flex-start;
	align-items: center;
	height: 26rem;
	border-radius: 20px;
	width: 100%;

	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.03),
		0 6.7px 5.3px rgba(0, 0, 0, 0.02), 0 12.5px 10px rgba(0, 0, 0, 0.02),
		0 22.3px 17.9px rgba(0, 0, 0, 0.02), 0 41.8px 33.4px rgba(0, 0, 0, 0.04),
		0 100px 80px rgba(0, 0, 0, 0.01);
	margin: 1rem 0;
	margin-bottom: 3rem;
	overflow: hidden;
}
.location-heading {
	display: flex;
	align-self: flex-start;
	font-size: 1.6rem;
	color: black;
	padding: 1rem;
}
.google-maps {
	display: flex;
	align-self: flex-start;
}
